#about
  #primary-photo
    float: left
    width: 40%

  #blurb
    float: right
    width: 50%
    margin-left: 5%
    margin-right: 5%

  @media (max-width: 900px)
    #primary-photo
      float: none
      width: 100%

    #blurb
      float: none
      width: 100%
      margin-top: $whitespace
      margin-left: 0px
      margin-right: 0px
