#about
  img#primary-photo
    float: left
    width: 40%
    height: auto
    margin-right: 5%
    margin-bottom: 3%

  @media (max-width: 600px)
    img#primary-photo
      width: 100%
      margin-right: 0%

  #overview, #bio
    max-width: 900px
