$admin-height: 28px
$admin-padding: 10px


#admin-bar
  width: 100%
  height: $admin-height
  background: $chickadee-black

  color: $chickadee-light-gray
  font-size: $base-font-size - 3
  line-height: $admin-height
  @include sans-font
  letter-spacing: 0.6px
  text-align: left

  span,
  a
    float: left
    padding: 0 $admin-padding
    text-transform: lowercase

  .user
    margin: 0  $admin-padding

  a
    &:hover
      background: transparentize(#fff, 0.9)
      color: $peach-pink

  .logout,
  .bird-search
    float: right

  form,
  button,
  input
    display: inline

  form
    @include pretty-form

  button,
  input
    font-family: inherit
    font-size: inherit
    letter-spacing: inherit

  input
    background: $chickadee-light-gray

  button
    background: $chickadee-gray
