.markdown-section
  h1, h2, h3, h4
    font-family: $base-font-family
    letter-spacing: 0
    color: $chickadee-black
    font-weight: bold
    font-variant: normal

  h1
    font-size: $base-font-size + 12

  h2
    font-size: $base-font-size + 8

  h3
    font-size: $base-font-size + 5

  h4
    font-size: $base-font-size + 3


.card
  border: 1px solid $chickadee-light-gray
  border-radius: 3px
