button
  &:hover
    cursor: pointer


.scroll-box
  overflow: scroll


@mixin pretty-form
  button,
  input
    border: none
    border-radius: 3px
    padding: 2px 4px


@mixin bulleted-list
  list-style-position: inside

  ul li, ul ul
    padding-left: 30px

  list-style-type: disc

  ul
    list-style-type: circle

    ul
      list-style-type: square

      ul
        list-style-type: disc

@mixin following-text
  clear: none
  display: inline
  font-size: $base-font-size - 4
  color: $chickadee-gray


$tag-spacing: 3px
.tag
  position: relative
  right: $tag-spacing
  float: left
  margin: $tag-spacing
  @include sans-font(light)

  a,
  span
    float: left
    padding: 3px 8px
    border-radius: 3px

  a
    background: $moss
    color: $chickadee-cream

    &:hover
      background: $moss-light

  span
    background: $chickadee-light-gray
    color: $chickadee-dark-gray


@mixin cleared-spans($spacing: $whitespace / 2)
  span
    float: left
    clear: both
    margin-bottom: $spacing

    &:last-child
      margin-bottom: 0px


@mixin two-columns($left: 47%, $right: 47%, $media: 750px)
  .column
    &:first-child
      float: left
      width: $left

    &:last-child
      float: right
      width: $right
      margin-top: 0px

  @media (max-width: $media)
    .column
      &:first-child, &:last-child
        float: left
        width: 100%

      &:last-child
        margin-top: $whitespace


@mixin four-three-two-one-parent
  width: 105%
  padding: 0 2.5%
  position: relative
  left: -5%


@mixin four-three-two-one-child($aspect-ratio: false)
  display: block
  position: relative
  box-sizing: border-box
  float: left
  width: 20%
  margin: 0 2.5% 50px 2.5%

  @if $aspect-ratio
    padding-top: 16%

  &:nth-child(4n+1)
    clear: left

  @media (max-width: 1400px)
    width: 28.3%

    @if $aspect-ratio
      padding-top: 19%

    &:nth-child(4n+1)
      clear: none
    &:nth-child(3n+1)
      clear: left

  @media (max-width: 1050px)
    width: 45%

    @if $aspect-ratio
      padding-top: 30%

    &:nth-child(4n+1)
      clear: none
    &:nth-child(3n+1)
      clear: none
    &:nth-child(2n+1)
      clear: left

  @media (max-width: 700px)
    width: 95%

    @if $aspect-ratio
      padding-top: 57%
