.markdown
  h1, h2, h3, h4
    font-family: $serif-font-family
    letter-spacing: 0
    color: $chickadee-black
    font-weight: bold
    font-variant: normal

  h1
    font-size: $base-font-size + 12

  h2
    font-size: $base-font-size + 8

  h3
    font-size: $base-font-size + 5

  h4
    font-size: $base-font-size + 3

  p
    margin-bottom: $whitespace / 2

    &:last-child
      margin-bottom: none

  ul
    list-style-type: disc

  ol
    list-style-type: decimal


.card
  border: 1px solid $chickadee-light-gray
  border-radius: 3px


.scroll-box
  overflow: scroll


@mixin bulleted-list
  list-style-position: inside

  li, ul
    padding-left: 30px

  list-style-type: disc

  ul
    list-style-type: circle

    ul
      list-style-type: square

      ul
        list-style-type: disc

b, strong
  font-weight: bold

i, em
  font-style: italic


$tag-spacing: 3px
.tag
  position: relative
  right: $tag-spacing
  float: left
  margin: $tag-spacing
  @include sans-font(light)

  a,
  span
    float: left
    padding: 3px 8px
    border-radius: 3px

  a
    background: $moss
    color: $chickadee-white

    &:hover
      background: $moss-light

  span
    background: $chickadee-light-gray
    color: $chickadee-dark-gray
