@font-face
  font-family: 'adelaida'
  src: url('../fonts/adelaida/adelaida-regular-webfont.eot')
  src: url('../fonts/adelaida/adelaida-regular-webfont.eot?#iefix') format('embedded-opentype')
  src: url('../fonts/adelaida/adelaida-regular-webfont.woff') format('woff')
  src: url('../fonts/adelaida/adelaida-regular-webfont.ttf') format('truetype')
  src: url('../fonts/adelaida/adelaida-regular-webfont.svg#adelaidaregular') format('svg')
  font-weight: normal
  font-style: normal

@import url(http://fonts.googleapis.com/css?family=Dosis:500)

body
  font-family: Georgia, serif
  font-size: 17px
  color: $chickadee-black

h1, h2, h3, h4
  margin: 0
  padding: 0
  font-weight: normal

h1
  font-family: 'adelaida', sans-serif
  font-size: 85px
  letter-spacing: 8px

h2
  font-family: 'Dosis', sans-serif
  font-weight: 500
  font-size: 30px
  letter-spacing: 1px
  color: $chickadee-dark-gray

a
  text-decoration: none
  color: $peach-pink

  &:hover, &.active
    color: $peach-orange
