body
  font-family: "PT Serif", serif
  font-size: 16px
  color: $chickadee-black

h1
  font-weight: normal

#ptTest
  font-family: "PT Serif", serif

#palatinoTest
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif

#georgiaTest
  font-family: Georgia, serif
