#footer
  color: $chickadee-cream
  font-size: 16px
  letter-spacing: 1px
  font-family: $header-font-family

  #content-copyright
    max-width: 60%
    float: left

  #website-copyright
    max-width: 35%
    float: right

  a
    color: $light-link-color

    &:hover, &.active
      color: $light-link-color-active
