#footer
  color: $content-background
  font-size: 16px
  @include sans-font(light)

  #content-copyright
    max-width: 60%
    float: left

  #website-copyright
    max-width: 35%
    float: right

  a
    color: $light-link-color

    &:hover, &.active
      color: $light-link-color-active
