#header
  color: $chickadee-white
  font-family: $header-font-family
  font-size: 20px
  font-weight: 200
  letter-spacing: 1px
  text-align: center
  height: 130px

  h1
    position: relative
    top: -10px
    height: 102px
    font-size: 85px
    letter-spacing: 8px
    color: $chickadee-white

  #bird-search
    position: absolute
    top: 0
    right: 0
    text-align: right

    a
      margin: none
      font-size: 16px

  #privileged-links
    position: absolute
    top: 0
    left: 0

    a
      margin-right: 10px

  #menu
    position: relative
    top: -12px
    font-size: 22px
    height: 28px
    a
      padding: 0 20px
      color: lighten($peach-pink, 7%)

      &:hover, &.active
        color: lighten($peach-orange, 5%)
