#header
  text-align: center

  h1
    color: $chickadee-white

  #menu
    a
      padding: 0 20px
      color: lighten($peach-pink, 7%)

      &:hover, &.active
        color: lighten($peach-orange, 5%)
