#header
  padding-top: 5px
  text-align: center
  @include sans-font(light)

  a
    color: $light-link-color

    &:hover, &.active
      color: $light-link-color-active

  #site-title
    display: inline-block
    position: relative
    overflow: hidden
    margin: 0

    h1
      position: absolute
      width: 100%
      top: -46%
      left: 0
      color: $chickadee-white

    @media (min-width: 797px)
      width: 725px
      padding-top: 87px

      h1
        font-size: 110px
        letter-spacing: 3px


    @media (max-width: 797px)
      width: 100%
      padding-top: 12%

      h1
        font-size: 14vw
        letter-spacing: 0.2vw

  #menu
    float: left
    clear: both
    width: 100%
    margin: $whitespace / 4 0
    font-size: 22px

    a
      white-space: nowrap
      padding: 0 $whitespace / 2

  #bird-search
    position: absolute
    top: 0
    right: 0
    text-align: right

    a
      margin: none
      font-size: 16px
