#home
  #page-title
    display: none

  #content
    #slideshow-wrapper
      margin: auto
      text-align: center
      max-width: 900px

      span
        font-style: italic
        font-size: 26px
        font-family: 'Dosis'
        color: $chickadee-gray

      div
        margin-top: $whitespace

      @media (max-width: 750px)
        span
          font-size: 22px

      @media (max-width: 500px)
        span
          font-size: 18px
        div
          margin-top: $whitespace / 2
