#home
  #page-title
    display: none

  #content
    #slideshow-wrapper
      margin: auto
      text-align: center

      @media (min-width: 1072px)
        width: 1000px

      span
        font-style: italic
        font-size: 26px
        font-family: 'Dosis'
        color: $chickadee-gray

      div
        margin-top: $whitespace
