.markdown
  h1, h2, h3, h4
    margin-top: $whitespace

  p, ul, ol, h1, h2, h3, h4, .image-wrapper
    margin-bottom: $whitespace / 1.5

    &:last-child
      margin-bottom: none

  ul
    list-style-type: disc
    list-style-position: inside

  ol
    list-style-type: decimal
    list-style-position: inside

  img, .image-caption
    display: block
    width: 100%
    max-height: 700px
    max-width: 700px
    margin-left: auto
    margin-right: auto
