html, body
  min-width: 100%
  margin: 0
  background: $chickadee-dark-gray


#header, #content, #footer
  @include clearfix
  @include box-sizing(border-box)
  width: 1200px
  margin: auto

  @media (max-width: 1395px)
    width: 86%
    margin: 0 7%

  @media (max-width: 1200px)
    width: 88%
    margin: 0 6%

  @media (max-width: 1100px)
    width: 90%
    margin: 0 5%

  @media (max-width: 1000px)
    width: 92%
    margin: 0 4%

  @media (max-width: 900px)
    width: 94%
    margin: 0 3%

#header
  position: relative


#content
  min-height: 500px
  background: $content-background
  padding: $whitespace * 1.5
  border-radius: 2px
  overflow: hidden
  height: auto


#footer
  margin-top: $whitespace
  margin-bottom: $whitespace


#page-title, .page-subtitle, .page-section, .page-subsection
  float: left
  clear: both
  width: 100%


#page-title
  margin-bottom: $whitespace

  &:empty
    margin-bottom: 0px


.page-subtitle
  margin-bottom: $whitespace / 2


.page-section
  margin-bottom: $whitespace * 2

  &:last-child
    margin-bottom: 0px


.page-subsection
  margin-bottom: $whitespace

  &:last-child
    margin-bottom: 0px
