html, body
  min-width: 100%
  margin: 0
  background: $chickadee-dark-gray

#header, #content, #footer
  margin: 0 50px

#header
  position: relative

#content
  min-height: 500px
  background: $chickadee-cream-alt
  padding: 30px
  border-radius: 10px

#footer
  margin-top: 20px
  margin-bottom: 10px
