// From http://codepen.io/personable/pen/jPMXPv

// *** Start Spin Cycle code ***
@mixin ic-Spin-cycle-animation (
    $animation-name: spin-cycle,
    $animation-grow-to: 1,
    $animation-shrink-to: 1,
    $color-spin-highlight: white,
    $color-spin-base: black
  ) {
    @keyframes #{$animation-name} {
    from {
      fill: $color-spin-highlight;
      transform: scale($animation-grow-to);
    }
    to {
      fill: $color-spin-base;
      transform: scale($animation-shrink-to);
    }
  }
}

@mixin ic-Spin-cycle-branding(
    $animation-name: spin-cycle,
    $animation-grow-to: 1,
    $animation-shrink-to: 1,
    $spin-width: 72px,
    $spin-height: 72px,
    $spin-margin: 12px,
    $color-spin-base: rgba(white, 0.1),
    $color-spin-highlight: white,
    $number-of-paths: 8
  ) {
  @include ic-Spin-cycle-animation($animation-name, $animation-grow-to, $animation-shrink-to, $color-spin-highlight, $color-spin-base);
  margin: $spin-margin;
  width: $spin-width;
  height: $spin-height;
  > svg {
    width: $spin-width; height: $spin-height;
    > * {
      fill: $color-spin-base;
      animation-name: $animation-name;
      animation-duration: #{$number-of-paths*0.1}s;
      @for $i from 1 through ($number-of-paths - 1) {
        &:nth-of-type(#{$i}) {
          animation-delay: #{$i*0.1}s;
        }
      }
    }
  }
}

%ic-Spin-cycle {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  overflow: visible;
  > svg {
    display: block;
    overflow: visible;
    > * {
      transform: translate3d(0,0,0);
      transform-origin: center;
      animation-iteration-count: infinite;
    }
  }
}

// IMPORTANT HACK FOR FIREFOX. FF has a bug with transform-origin and inline SVGs that pretty much ruins the whole scaling effect. My solution for now is just to remove the scale transforms from Firefox, which leaves the color animation only
body:not(:-moz-handler-blocked) {
  svg > * {
    transform: none !important;
    transform-origin: 0 0;
  }
}
// END HACK


// Let's make some spinners!

.ic-Spin-cycle--classic {
  @extend %ic-Spin-cycle;
  // pass no parameters into the mixin, and you get a classic spinner
  @include ic-Spin-cycle-branding;
}

.ic-Spin-cycle--classic-forthebirds {
  @extend %ic-Spin-cycle;
  @include ic-Spin-cycle-branding(
    forthebirds, // name your animation
    1.1, // how BIG should the child paths scale to?
    0.9, // how SMALL should the child paths scale to?
    48px, // what is the width of the spinner?
    48px, // what is the height of the spinner?
    12px 24px, // what margin should be around the spinner element?
    #788c6d, // what is the base color of the spinner?
    #cfd3cf, // what is the highlight color of the spinner?
    8 // how many direct child paths/circles/etc. does the SVG have? Feel free to play with this to make the timing of the animation slower or faster.
    );
}

.ic-Spin-cycle--classic-salmon-yellow {
  @extend %ic-Spin-cycle;
  @include ic-Spin-cycle-branding(
    yellow, // name your animation
    1.1, // how BIG should the child paths scale to?
    0.9, // how SMALL should the child paths scale to?
    48px, // what is the width of the spinner?
    48px, // what is the height of the spinner?
    12px 24px, // what margin should be around the spinner element?
    salmon, // what is the base color of the spinner?
    yellow, // what is the highlight color of the spinner?
    8 // how many direct child paths/circles/etc. does the SVG have? Feel free to play with this to make the timing of the animation slower or faster.
    );
}

.ic-Spin-cycle--circles {
  @extend %ic-Spin-cycle;
  @include ic-Spin-cycle-branding(
    circles, // name your animation
    1.6, // how BIG should the child paths scale to?
    1, // how SMALL should the child paths scale to?
    100px, // what is the width of the spinner?
    40px, // what is the height of the spinner?
    12px 24px, // what margin should be around the spinner element?
    rgba(white,0.5), // what is the base color of the spinner?
    rgba(lime, 0.8), // what is the highlight color of the spinner?
    8 // how many direct child paths/circles/etc. does the SVG have? Feel free to play with this to make the timing of the animation slower or faster.
    );
}

.ic-Spin-cycle--police-car {
  @extend %ic-Spin-cycle;
  @include ic-Spin-cycle-branding(
    your-animation, // name your animation
    1.1, // how BIG should the child paths scale to?
    0.3, // how SMALL should the child paths scale to?
    100px, // what is the width of the spinner?
    40px, // what is the height of the spinner?
    12px 24px, // what margin should be around the spinner element?
    rgba(#222, 0.8), // what is the base color of the spinner?
    cyan,  // what is the highlight color of the spinner?
    6 // how many direct child paths/circles/etc. does the SVG have? Feel free to play with this to make the timing of the animation slower or faster.
    );
}

.ic-Spin-cycle--faces {
  @extend %ic-Spin-cycle;
  @include ic-Spin-cycle-branding(
    faces, // name your animation
    2, // how BIG should the child paths scale to?
    1, // how SMALL should the child paths scale to?
    100px, // what is the width of the spinner?
    40px, // what is the height of the spinner?
    12px 24px, // what margin should be around the spinner element?
    rgba(rebeccapurple, 0.8), // what is the base color of the spinner?
    rgba(yellow, 0.7), // what is the highlight color of the spinner?
    12 // how many direct child paths/circles/etc. does the SVG have? Feel free to play with this to make the timing of the animation slower or faster.
    );
}
// *** End Spin Cycle code ***
