@charset "UTF-8";
/********** Get rid of native browser styles **********/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Dosis:200,500,600);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "adelaidaregular";
  src: url("../fonts/adelaida/adelaida-regular-webfont.eot");
  src: url("../fonts/adelaida/adelaida-regular-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/adelaida/adelaida-regular-webfont.woff") format("woff");
  src: url("../fonts/adelaida/adelaida-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: Georgia, serif;
  font-size: 17px;
  color: #3c3a47;
  line-height: 1.5; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

h1 {
  font-family: "adelaidaregular", sans-serif; }

h2, h3, h4, .markdown h1 {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color: #777e86; }

h2 {
  font-size: 30px;
  margin-top: -10px; }

h3, .markdown h1 {
  font-size: 26px;
  margin-top: -10px; }

h4, .markdown h2 {
  font-size: 22px; }

.markdown h3, .markdown h4 {
  font-size: 19px; }

a {
  text-decoration: none;
  color: #d87a74; }
  a:hover, a.active {
    color: #d8ac74; }

.help-message {
  color: #9ba5a9;
  font-style: oblique; }

.image-caption {
  color: #777e86;
  font-size: 15px; }

b, strong {
  font-weight: bold; }

i, em {
  font-style: italic; }

.scroll-box {
  overflow: scroll; }

.tag {
  position: relative;
  right: 3px;
  float: left;
  margin: 3px;
  font-family: "Dosis", sans-serif;
  font-weight: 200;
  letter-spacing: 1px; }
  .tag a,
  .tag span {
    float: left;
    padding: 3px 8px;
    border-radius: 3px; }
  .tag a {
    background: #788c6d;
    color: #deedf2; }
    .tag a:hover {
      background: #92a389; }
  .tag span {
    background: #cfd3cf;
    color: #777e86; }

.markdown h1, .markdown h2, .markdown h3, .markdown h4 {
  margin-top: 36px; }
.markdown p, .markdown ul, .markdown ol, .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown .image-wrapper {
  margin-bottom: 24px; }
  .markdown p:last-child, .markdown ul:last-child, .markdown ol:last-child, .markdown h1:last-child, .markdown h2:last-child, .markdown h3:last-child, .markdown h4:last-child, .markdown .image-wrapper:last-child {
    margin-bottom: 0px; }
.markdown ul {
  list-style-type: disc;
  list-style-position: inside; }
.markdown ol {
  list-style-type: decimal;
  list-style-position: inside; }
.markdown img, .markdown .image-caption {
  display: block;
  width: 100%;
  max-width: 700px;
  height: auto;
  margin-left: auto;
  margin-right: auto; }
.markdown blockquote {
  padding-left: 40px; }

html, body {
  min-width: 100%;
  margin: 0;
  background: #777e86; }

#header, #content, #footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  margin: auto; }
  #header:after, #content:after, #footer:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 1395px) {
    #header, #content, #footer {
      width: 86%;
      margin: 0 7%; } }
  @media (max-width: 1200px) {
    #header, #content, #footer {
      width: 88%;
      margin: 0 6%; } }
  @media (max-width: 1100px) {
    #header, #content, #footer {
      width: 90%;
      margin: 0 5%; } }
  @media (max-width: 1000px) {
    #header, #content, #footer {
      width: 92%;
      margin: 0 4%; } }
  @media (max-width: 900px) {
    #header, #content, #footer {
      width: 94%;
      margin: 0 3%; } }

#header {
  position: relative; }

#content {
  min-height: 500px;
  background: #f5f4ee;
  padding: 54px;
  border-radius: 2px;
  overflow: hidden;
  height: auto; }

#footer {
  margin-top: 36px;
  margin-bottom: 36px; }

#page-title, .page-subtitle, .page-section, .page-subsection {
  float: left;
  clear: both;
  width: 100%; }

#page-title {
  margin-bottom: 36px; }

.page-subtitle {
  margin-bottom: 18px; }

.page-section {
  margin-bottom: 72px; }
  .page-section:last-child {
    margin-bottom: 0px; }

.page-subsection {
  margin-bottom: 36px; }
  .page-subsection:last-child {
    margin-bottom: 0px; }

#header {
  padding-top: 5px;
  text-align: center;
  color: #deedf2;
  font-family: "Dosis", sans-serif;
  font-weight: 200;
  letter-spacing: 1px; }
  #header a {
    color: #e6a8a4; }
    #header a:hover, #header a.active {
      color: #e6c9a4; }
  #header #site-title {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0; }
    #header #site-title h1 {
      position: absolute;
      width: 100%;
      top: -46%;
      left: 0;
      color: #deedf2; }
    @media (min-width: 797px) {
      #header #site-title {
        width: 725px;
        padding-top: 87px; }
        #header #site-title h1 {
          font-size: 110px;
          letter-spacing: 3px; } }
    @media (max-width: 797px) {
      #header #site-title {
        width: 100%;
        padding-top: 12%; }
        #header #site-title h1 {
          font-size: 14vw;
          letter-spacing: 0.2vw; } }
  #header #menu {
    float: left;
    clear: both;
    width: 100%;
    margin: 9px 0;
    font-size: 22px; }
    #header #menu a {
      white-space: nowrap;
      padding: 0 18px; }
  #header #bird-search {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right; }
    #header #bird-search a {
      margin: none;
      font-size: 16px; }

#footer {
  color: #f5f4ee;
  font-size: 16px;
  font-family: "Dosis", sans-serif;
  font-weight: 200;
  letter-spacing: 1px; }
  #footer #content-copyright {
    max-width: 60%;
    float: left; }
  #footer #website-copyright {
    max-width: 35%;
    float: right; }
  #footer a {
    color: #e6a8a4; }
    #footer a:hover, #footer a.active {
      color: #e6c9a4; }

#admin-bar {
  width: 100%;
  height: 28px;
  background: #3c3a47;
  font-family: "Dosis", sans-serif;
  color: #cfd3cf;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.6px;
  text-align: left; }
  #admin-bar span,
  #admin-bar a {
    float: left;
    text-transform: lowercase; }
  #admin-bar .user {
    margin: 0 10px; }
  #admin-bar a {
    padding: 0 10px; }
    #admin-bar a:hover {
      background: rgba(255, 255, 255, 0.1);
      color: #de8d88; }
  #admin-bar .logout {
    float: right; }

#home #page-title {
  display: none; }
#home #content #slideshow-wrapper {
  margin: auto;
  text-align: center;
  max-width: 900px; }
  #home #content #slideshow-wrapper span {
    font-style: italic;
    font-size: 26px;
    font-family: "Dosis";
    color: #9ba5a9; }
  #home #content #slideshow-wrapper div {
    margin-top: 36px; }

#about img#primary-photo {
  float: left;
  width: 40%;
  height: auto;
  margin-right: 5%;
  margin-bottom: 18px; }
@media (max-width: 600px) {
  #about img#primary-photo {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 36px; } }
#about #overview, #about #bio {
  max-width: 900px; }

#birds ul {
  list-style-position: inside;
  list-style-type: disc; }
  #birds ul ul li, #birds ul ul ul {
    padding-left: 30px; }
  #birds ul ul {
    list-style-type: circle; }
    #birds ul ul ul {
      list-style-type: square; }
      #birds ul ul ul ul {
        list-style-type: disc; }
#birds #bird-search form {
  margin-bottom: 18px; }
  #birds #bird-search form p {
    display: inline-block; }
  #birds #bird-search form .submit {
    margin-left: 9px; }

#bird #main-photo {
  display: block;
  width: 500px;
  max-width: 100%;
  float: left;
  margin-right: 46px;
  margin-bottom: 36px; }
  @media (max-width: 600px) {
    #bird #main-photo #main-photo {
      margin-right: 0;
      margin-bottom: 0; } }
#bird .card {
  float: left;
  padding: 10px;
  margin-right: 18px;
  margin-bottom: 18px;
  max-width: 500px;
  border: 1px solid #cfd3cf;
  border-radius: 2px; }
  #bird .card h4 {
    margin-bottom: 10px;
    text-align: center; }
  #bird .card span {
    display: block;
    clear: both; }
    #bird .card span.year {
      clear: none;
      display: inline;
      font-size: 13px;
      color: #9ba5a9; }
  #bird .card ul {
    list-style-type: disc;
    list-style-position: inside; }
#bird #blurb {
  float: left;
  width: 100%;
  clear: both; }

#birds-taxonomical ul {
  list-style-position: inside;
  list-style-type: disc;
  line-height: 150%; }
  #birds-taxonomical ul ul li, #birds-taxonomical ul ul ul {
    padding-left: 30px; }
  #birds-taxonomical ul ul {
    list-style-type: circle; }
    #birds-taxonomical ul ul ul {
      list-style-type: square; }
      #birds-taxonomical ul ul ul ul {
        list-style-type: disc; }
  #birds-taxonomical ul.collapsed {
    display: none; }
  #birds-taxonomical ul li.no-subfamily {
    font-size: 14px;
    font-style: italic;
    color: gray; }
#birds-taxonomical .plus-sign {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 8px;
  height: 8px; }
  #birds-taxonomical .plus-sign:hover {
    cursor: pointer; }
  #birds-taxonomical .plus-sign::after, #birds-taxonomical .plus-sign::before {
    content: " ";
    position: absolute;
    background: #de8d88; }
    #birds-taxonomical .plus-sign::after:hover, #birds-taxonomical .plus-sign::before:hover {
      background: #deb888; }
  #birds-taxonomical .plus-sign::after {
    top: 3px;
    left: 0;
    width: 8px;
    height: 2px; }
  #birds-taxonomical .plus-sign::before {
    top: 0;
    left: 3px;
    width: 2px;
    height: 8px; }
  #birds-taxonomical .plus-sign.minus::after {
    background: #deb888; }
  #birds-taxonomical .plus-sign.minus::before {
    display: none; }

.itunes-badge-large {
  display: inline-block;
  overflow: hidden;
  background: url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat;
  width: 110px;
  height: 40px; }

.itunes-badge-small {
  display: inline-block;
  overflow: hidden;
  background: url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-sm.svg) no-repeat;
  width: 80px;
  height: 15px; }

#radio #links {
  width: 100%;
  float: left;
  margin-bottom: 36px;
  font-family: "Dosis", sans-serif;
  font-size: 21px; }
  #radio #links a {
    display: inline-block;
    margin-right: 18px; }
    #radio #links a#itunes-link {
      float: right;
      margin-right: 0px;
      margin-top: 0px; }
      @media (max-width: 500px) {
        #radio #links a#itunes-link {
          float: left;
          margin-top: 10px;
          margin-right: 18px; } }
#radio #year-program-container {
  float: left;
  position: relative;
  width: 100%;
  min-height: 500px; }
  #radio #year-program-container #year-list {
    position: absolute;
    left: 0;
    width: 93px;
    font-size: 36px;
    font-family: "Dosis", sans-serif;
    color: #777e86; }
    #radio #year-program-container #year-list a {
      white-space: nowrap; }
      #radio #year-program-container #year-list a.active:after {
        display: inline-block;
        position: relative;
        bottom: 7px;
        padding-left: 7px;
        font-size: 18px;
        -webkit-transform: scaleX(0.7);
        -moz-transform: scaleX(0.7);
        -ms-transform: scaleX(0.7);
        -o-transform: scaleX(0.7);
        transform: scaleX(0.7);
        content: "➤"; }
    @media (max-width: 500px) {
      #radio #year-program-container #year-list {
        width: 61px;
        font-size: 24px; }
        #radio #year-program-container #year-list a.active:after {
          bottom: 5px;
          padding-left: 5px;
          font-size: 12px; } }
  #radio #year-program-container #programs {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 93px; }
    @media (max-width: 500px) {
      #radio #year-program-container #programs {
        padding-left: 61px; } }
    #radio #year-program-container #programs .program {
      float: left;
      width: 100%; }
      #radio #year-program-container #programs .program:nth-child(even) {
        background: #e1e6df; }
      #radio #year-program-container #programs .program:nth-child(odd) {
        background: #e9ede8; }
      #radio #year-program-container #programs .program .program-intro {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #d36760;
        display: block;
        width: 100%;
        height: 100%;
        padding: 8px 12px; }
        #radio #year-program-container #programs .program .program-intro:hover, #radio #year-program-container #programs .program .program-intro.active {
          color: #cd944c; }
        #radio #year-program-container #programs .program .program-intro .title,
        #radio #year-program-container #programs .program .program-intro .description {
          width: 100%; }
        #radio #year-program-container #programs .program .program-intro .title {
          margin-top: 5px; }
        #radio #year-program-container #programs .program .program-intro .description {
          margin-top: 10px;
          font-size: 15px;
          color: #777e86; }
      #radio #year-program-container #programs .program .program-more {
        display: none;
        padding: 36px;
        padding-top: 18px; }
        #radio #year-program-container #programs .program .program-more:after {
          content: "";
          display: table;
          clear: both; }
        #radio #year-program-container #programs .program .program-more .columns .column:first-child {
          float: left;
          width: 33%; }
        #radio #year-program-container #programs .program .program-more .columns .column:last-child {
          float: right;
          width: 60%;
          margin-top: 0px; }
        @media (max-width: 600px) {
          #radio #year-program-container #programs .program .program-more .columns .column:first-child, #radio #year-program-container #programs .program .program-more .columns .column:last-child {
            float: left;
            width: 100%; }
          #radio #year-program-container #programs .program .program-more .columns .column:last-child {
            margin-top: 36px; } }
        #radio #year-program-container #programs .program .program-more .columns .artwork img {
          width: 100%;
          height: auto; }
        #radio #year-program-container #programs .program .program-more .columns .fields span {
          float: left;
          clear: both;
          margin-bottom: 12px; }
          #radio #year-program-container #programs .program .program-more .columns .fields span:last-child {
            margin-bottom: 0px; }
        #radio #year-program-container #programs .program .program-more .columns .fields .audio {
          line-height: 15px; }
        #radio #year-program-container #programs .program .program-more .columns .fields a {
          color: #d36760; }
          #radio #year-program-container #programs .program .program-more .columns .fields a:hover, #radio #year-program-container #programs .program .program-more .columns .fields a.active {
            color: #cd944c; }
        #radio #year-program-container #programs .program .program-more .tags {
          width: 100%;
          float: left;
          margin-top: 36px; }

#radio-program #program-info .column:first-child {
  float: left;
  width: 35%; }
#radio-program #program-info .column:last-child {
  float: right;
  width: 60%;
  margin-top: 0px; }
@media (max-width: 600px) {
  #radio-program #program-info .column:first-child, #radio-program #program-info .column:last-child {
    float: left;
    width: 100%; }
  #radio-program #program-info .column:last-child {
    margin-top: 36px; } }
#radio-program #program-info span {
  float: left;
  clear: both;
  margin-bottom: 18px; }
  #radio-program #program-info span:last-child {
    margin-bottom: 0px; }
#radio-program #program-info #artwork {
  width: 100%; }

#radio .download-link img,
#radio-program .download-link img {
  width: 30px;
  height: 30px; }
#radio audio,
#radio-program audio {
  max-width: 100%; }

#radio-calendar .download-link img {
  width: 20px;
  height: 20px; }

#radio-calendar table, #radio-calendar th, #radio-calendar td {
  border: 1px solid black; }
#radio-calendar table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse; }
  #radio-calendar table th, #radio-calendar table td {
    padding: 5px; }
  #radio-calendar table th {
    background: #788c6d;
    color: #f5f4ee;
    font-family: "Dosis", sans-serif;
    letter-spacing: 1px; }
  #radio-calendar table td {
    height: 50px;
    font-size: 16px; }
    #radio-calendar table td a, #radio-calendar table td span {
      display: block; }
    #radio-calendar table td .day {
      font-family: "Dosis", sans-serif;
      font-weight: bold; }
    #radio-calendar table td .program-type {
      font-size: 15px;
      font-family: "Dosis", sans-serif;
      color: #777e86; }

#research #content p {
  display: inline; }

#speaking ul {
  list-style-position: inside;
  list-style-type: disc; }
  #speaking ul ul li, #speaking ul ul ul {
    padding-left: 30px; }
  #speaking ul ul {
    list-style-type: circle; }
    #speaking ul ul ul {
      list-style-type: square; }
      #speaking ul ul ul ul {
        list-style-type: disc; }

#speaking-program .tags {
  padding-top: 36px; }
#speaking-program #files {
  list-style-position: inside;
  list-style-type: disc; }
  #speaking-program #files ul li, #speaking-program #files ul ul {
    padding-left: 30px; }
  #speaking-program #files ul {
    list-style-type: circle; }
    #speaking-program #files ul ul {
      list-style-type: square; }
      #speaking-program #files ul ul ul {
        list-style-type: disc; }

#webpage #webpage-info, #webpage #webpage-content, #webpage #webpage-tags {
  float: left;
  margin-bottom: 36px;
  width: 100%; }
#webpage #webpage-content {
  max-width: 750px; }
#webpage .markdown .image-wrapper {
  display: table;
  margin-left: auto;
  margin-right: auto; }
  #webpage .markdown .image-wrapper img {
    max-width: 500px;
    height: auto; }
  #webpage .markdown .image-wrapper .image-caption {
    display: table-caption;
    caption-side: bottom; }
  #webpage .markdown .image-wrapper.banner {
    width: 100%; }
    #webpage .markdown .image-wrapper.banner img {
      width: 100%;
      max-width: 100%; }

#writing #articles ul {
  list-style-position: inside;
  list-style-type: disc;
  line-height: 175%; }
  #writing #articles ul ul li, #writing #articles ul ul ul {
    padding-left: 30px; }
  #writing #articles ul ul {
    list-style-type: circle; }
    #writing #articles ul ul ul {
      list-style-type: square; }
      #writing #articles ul ul ul ul {
        list-style-type: disc; }
  #writing #articles ul .publisher {
    margin-top: 36px; }
    #writing #articles ul .publisher:first-child {
      margin-top: None; }
  #writing #articles ul .year {
    clear: none;
    display: inline;
    font-size: 13px;
    color: #9ba5a9; }
#writing #books {
  width: 105%;
  padding: 0 2.5%;
  position: relative;
  left: -5%; }
  #writing #books .book {
    float: left;
    margin: 0 2.5% 50px 2.5%;
    width: 20%;
    line-height: 130%; }
    #writing #books .book img, #writing #books .book span {
      float: left;
      width: 100%;
      margin-bottom: 12px; }
    #writing #books .book .title {
      font-style: italic;
      font-weight: bold; }
    #writing #books .book:nth-child(4n+1) {
      clear: left; }
  @media (max-width: 1000px) {
    #writing #books .book {
      width: 28.3%; }
      #writing #books .book:nth-child(4n+1) {
        clear: none; }
      #writing #books .book:nth-child(3n+1) {
        clear: left; } }
  @media (max-width: 750px) {
    #writing #books .book {
      width: 45%; }
      #writing #books .book:nth-child(4n+1) {
        clear: none; }
      #writing #books .book:nth-child(3n+1) {
        clear: none; }
      #writing #books .book:nth-child(2n+1) {
        clear: left; } }
  @media (max-width: 500px) {
    #writing #books .book {
      width: 95%; } }

#article #fields span {
  float: left;
  clear: both;
  margin-bottom: 18px; }
  #article #fields span:last-child {
    margin-bottom: 0px; }

#book #book-info .column:first-child {
  float: left;
  width: 35%; }
#book #book-info .column:last-child {
  float: right;
  width: 60%;
  margin-top: 0px; }
@media (max-width: 600px) {
  #book #book-info .column:first-child, #book #book-info .column:last-child {
    float: left;
    width: 100%; }
  #book #book-info .column:last-child {
    margin-top: 36px; } }
#book #book-info span {
  float: left;
  clear: both;
  margin-bottom: 18px; }
  #book #book-info span:last-child {
    margin-bottom: 0px; }
#book #book-info img {
  width: 100%; }
#book .tags {
  float: left;
  width: 100%; }

#ways-to-help #all-ways-to-help {
  width: 105%;
  padding: 0 2.5%;
  position: relative;
  left: -5%; }
  #ways-to-help #all-ways-to-help .way-to-help-card {
    display: block;
    position: relative;
    float: left;
    width: 20%;
    margin: 0 2.5% 50px 2.5%;
    padding: 20px;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px #9ba5a9;
    background-size: cover;
    background-position: center center; }
    #ways-to-help #all-ways-to-help .way-to-help-card:nth-child(4n+1) {
      clear: left; }
    #ways-to-help #all-ways-to-help .way-to-help-card:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      -webkit-transition: background, 100ms, linear;
      -moz-transition: background, 100ms, linear;
      transition: background, 100ms, linear;
      background: rgba(119, 126, 134, 0.7);
      border-radius: 2px; }
    #ways-to-help #all-ways-to-help .way-to-help-card:hover:after, #ways-to-help #all-ways-to-help .way-to-help-card.active:after {
      background: rgba(60, 58, 71, 0.6); }
    #ways-to-help #all-ways-to-help .way-to-help-card span {
      position: relative;
      z-index: 2;
      font-family: "Dosis", sans-serif;
      font-weight: 200;
      letter-spacing: 1px;
      font-size: 22px;
      color: #f5f4ee; }
      #ways-to-help #all-ways-to-help .way-to-help-card span.number {
        float: left;
        line-height: 70%;
        margin-right: 10px;
        margin-bottom: 8px;
        font-family: "adelaidaregular";
        font-size: 119px;
        color: rgba(207, 211, 207, 0.65); }
  @media (max-width: 1400px) {
    #ways-to-help #all-ways-to-help .way-to-help-card {
      width: 28.3%; }
      #ways-to-help #all-ways-to-help .way-to-help-card:nth-child(4n+1) {
        clear: none; }
      #ways-to-help #all-ways-to-help .way-to-help-card:nth-child(3n+1) {
        clear: left; } }
  @media (max-width: 1050px) {
    #ways-to-help #all-ways-to-help .way-to-help-card {
      width: 45%; }
      #ways-to-help #all-ways-to-help .way-to-help-card:nth-child(4n+1) {
        clear: none; }
      #ways-to-help #all-ways-to-help .way-to-help-card:nth-child(3n+1) {
        clear: none; }
      #ways-to-help #all-ways-to-help .way-to-help-card:nth-child(2n+1) {
        clear: left; } }
  @media (max-width: 700px) {
    #ways-to-help #all-ways-to-help .way-to-help-card {
      width: 95%; } }
