$chickadee-cream: #f5f4ee
$chickadee-white: #deedf2
$chickadee-light-gray: #cfd3cf
$chickadee-gray: #9ba5a9
$chickadee-dark-gray: #777e86
$chickadee-black: #3c3a47
$moss-light: #b9c4b4
$moss: #788c6d
$moss-dark: #63664e
$peach-pink: #de8d88
$peach-orange: #deb888
$base-font-size: 17px
$base-font-family: Georgia, serif

$vertical-whitespace: 40px

@import reset
@import font
@import elements
@import page
@import header
@import footer
@import home
@import about
@import ../../../birds/static/stylesheets/bird
@import ../../../birds/static/stylesheets/birds
@import ../../../birds/static/stylesheets/birds_taxonomical
@import ../../../creations/static/stylesheets/books
@import ../../../creations/static/stylesheets/radio
@import ../../../creations/static/stylesheets/articles
@import ../../../creations/static/stylesheets/research
