{% extends "base.html" %}

{% block page_title %}Birds{% endblock %}

{% block content %}
<ul class="orders">
{% regroup species by order_name as orders %}
{% for order in orders %}
  <li><a href="#">{{ order.grouper }}
    <div class="plus-sign"></div>
  </a></li>

  <ul class="families collapsed">
  {% regroup order.list by family_name as families %}
  {% for family in families %}
    <li><a href="#">{{ family.grouper }}
      <div class="plus-sign"></div>
    </a></li>

    <ul class="subfamilies collapsed">
    {% regroup family.list by subfamily_name as subfamilies %}
    {% for subfamily in subfamilies %}
      <li><a href="#">{{ subfamily.grouper }}
        <div class="plus-sign"></div>
      </a></li>

      <ul class="genuses collapsed">
      {% regroup subfamily.list by genus_name as genuses %}
      {% for genus in genuses %}
        <li><a href="#">{{ genus.grouper }}
          <div class="plus-sign"></div>
        </a></li>

        <ul class="species collapsed">
        {% for species in genus.list %}
        <li>{{ species.common_name }} (<i>{{ species }}</i>)</li>
        {% endfor %}
        </ul>
      {% endfor %}
      </ul>
    {% endfor %}
    </ul>
  {% endfor %}
  </ul>
{% endfor %}
</ul>
{% endblock %}
