{% extends "base.html" %}

{% block body_id %}birds-taxonomical{% endblock %}

{% block page_title %}Find Birds By Taxonomy{% endblock %}

{% block content %}
<ul class="orders">
{% regroup birds by order_name as orders %}
{% for order in orders %}
  <li><a href="#">
    {{ order.grouper }}
    {% if order.list.0.order_common %}
      ({{ order.list.0.order_common }})
    {% endif %}
    <div class="plus-sign"></div>
  </a></li>

  <ul class="families collapsed">
  {% regroup order.list by family_name as families %}
  {% for family in families %}
    <li><a href="#">
      {{ family.grouper }}
      {% if family.list.0.family_common %}
        ({{ family.list.0.family_common }})
      {% endif %}
      <div class="plus-sign"></div>
    </a></li>

    <ul class="subfamilies collapsed">
    {% regroup family.list by subfamily_name as subfamilies %}
    {% for subfamily in subfamilies %}
      {% if subfamily.grouper %}
        <li><a href="#">
          {{ subfamily.grouper }}
          {% if subfamily.list.0.subfamily_common %}
            ({{ subfamily.list.0.subfamily_common }})
          {% endif %}
          <div class="plus-sign"></div>
        </a></li>
      {% else %}
        <li class="no-subfamily">No subfamily</li>
      {% endif%}

      <ul class="species collapsed">
      {% for species in subfamily.list %}
        <li><a href="{% url 'bird_url' id=species.id %}">
          <i>{{ species.name }}</i> ({{ species.common_name }})
        </a></li>
      {% endfor %}
      </ul>

    {% endfor %}
    </ul>
  {% endfor %}
  </ul>
{% endfor %}
</ul>
{% endblock %}
