{% extends 'base.html' %}


{% block body_id %}birds{% endblock %}


{% block head_title_prefix %}Search Birds |{% endblock %}


{% block page_title %}Search for Birds{% endblock %}


{% block content %}
<div id="bird-search" class="page-section">
  <h3 class="page-subtitle">
    Search by species name
  </h3>

  <form action="" method="get">
    <p>{{ form.as_p }}</p>
    <button type="submit">Submit</button>
  </form>

  {% ifnotequal search_birds None %}
  {% if search_birds %}

  <ul id="search-results">
    {% for bird in search_birds %}
    <li><a href="{{ bird.get_absolute_url }}">
      {{ bird.common_name }}
      (<i>{{ bird.scientific_name }}</i>)</a>
    </li>
    {% endfor %}
  </ul>

  {% else %}

  <span class="help-message">
    Sorry, Laura hasn't made a page for any bird matching that term.
  </span>

  {% endif %}
  {% endifnotequal %}
</div>

<div class="page-section">
  <h3 class="page-subtitle">
    Browse <a href="{% url 'photo_checklist_url' %}">
      Laura's photo checklist</a>
  </h3>
</div>

<div id="birds-taxonomical" class="page-section">
  <h3 class="page-subtitle">
    Find taxonomically
  </h3>

  <ul class="orders">
    {% regroup taxonomical_birds by order as orders %}
    {% for order in orders %}
    <li>
      <a href="#">
        {{ order.grouper }}
        <div class="plus-sign"></div>
      </a>
    </li>

    <ul class="families collapsed">
      {% regroup order.list by family as families %}
      {% for family in families %}
      <li>
        <a href="#">
          {{ family.grouper }}
          ({{ family.list.0.family_common }})
        <div class="plus-sign"></div>
        </a>
      </li>

      <ul class="species collapsed">
        {% for species in family.list %}
        <li>
          <a href="{{ species.get_absolute_url }}">
            {{ species.common_name }}
            (<i>{{ species.scientific_name }}</i>)</a>
        </li>
        {% endfor %}
      </ul>

      {% endfor %}
    </ul>
    {% endfor %}
  </ul>
</div>

{% endblock %}
