{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block body_id %}bird{% endblock %}

{% block page_title %}{{ bird.common_name }}{% endblock %}

{% block content %}

{% if bird.main_photo_url %}
  <div id="main-photo">
    <img src="{{ bird.main_photo_url }}"/>
  </div>
{% endif %}

<div id="taxonomy" class="card">
  <h3>Taxonomy</h3>
  {% for ancestor in bird.get_ancestors reversed %}
    <span>
      {{ ancestor.level|capfirst }}:
      {{ ancestor.name }}
      {% if ancestor.common_name %}
        ({{ ancestor.common_name }})
      {% endif %}
    </span>
  {% endfor %}
  <span>Scientific name: <i>{{ bird.name }}</i></span>
  <span>French name: {{ bird.french_name }}</span>
</div>

{% if bird.nacc_annotation or bird.get_nacc_statuses %}
<div id="nacc" class="card">
  <h3>NACC Information</h3>
  {% if bird.nacc_annotation %}
    <span>Annotation: {{ bird.nacc_annotation }}</span>
  {% endif %}

  {% if bird.get_nacc_statuses %}
    {% for status in bird.get_nacc_statuses %}
      <span>Status: {{ status }}</span>
    {% endfor %}
  {% endif %}
</div>
{% endif %}

{% if bird.bird_of_the_week_name or bird.links %}
<div id="links" class="card">
  <h3>External Links</h3>

  {% if bird.bird_of_the_week_name %}
  <span>
    <a href="http://www.abcbirds.org/newsandreports/botw/{{ bird.bird_of_the_week_name }}.html">
      ABC Bird of the Week</a>
  </span>
  {% endif %}

  {% for link in bird.links %}
  <span>
    <a href="{{ link.url }}">{{ link.title }}</a>
  </span>
  {% endfor %}

</div>
{% endif %}

{% if bird.blurb %}
<div id="blurb" class="card markdown-section">
  {{ bird.blurb|markdown }}
</div>
{% endif %}

{% if actual_creations %}
{% regroup actual_creations by category as category_list %}
{% for category in category_list %}
<div class="card">
  <h3>{{ category.grouper }}{{ category.list|pluralize }}</h3>

  {% for creation in category.list %}
  <span>
    <a href="{{ creation.get_absolute_url }}">{{ creation.title }}</a>
  </span>
  {% endfor %}

</div>
{% endfor %}
{% endif %}

{% if user.is_authenticated and bird.is_minnesotan %}
<div class="card">
  <h3>MOU Checklist Info</h3>
  Status: {{ bird.minnesotaspecies.mou_status }}
  <br>
  Breeding status: {{ bird.minnesotaspecies.mou_breeding_status }}
  <br>
  Annotation: {{ bird.minnesotaspecies.mou_annotation }}
</div>

<div class="card">
  <h3>Other Minnesota Field Guide Info</h3>
  Include in book: {{ bird.minnesotaspecies.include_in_book }}
  <br>
  Range in MN: {{ bird.minnesotaspecies.range_in_minnesota }}
  <br>
  Miscellanous notes: {{ bird.minnesotaspecies.miscellaneous_notes }}
</div>
{% endif %}

{% endblock %}
