{% extends 'base.html' %}
{% load markdown_deux_tags %}


{% block body_id %}bird{% endblock %}


{% block page_title %}{{ bird.common_name }}{% endblock %}


{% block content %}

<div class="page-section">
  <div class="page-subsection">
    <table id="taxonomy">
      <tr>
      <td><i>{{ bird.scientific_name }}</i></td>

      {% with order=bird.get_order family=bird.get_family subfamily=bird.get_subfamily%}

      <td>
        Order: {{ order.name }}
        {% if order.common_name %}({{ order.common_name }}){% endif %}
      </td>

      <td>
        Family: {{ family.name }}
        {% if family.common_name %}({{ family.common_name }}){% endif %}
      </td>

      {% if subfamily %}
      <td>
        Subfamily: {{ family.name }}
        {% if subfamily.common_name %}({{ subfamily.common_name }}){% endif %}
      </td>
      {% endif %}

      {% endwith %}
    </table>
  </div>

  <div id="overview" class="page-subsection">
    {% if bird.main_photo_url %}
    <img id="main-photo" src="{{ bird.main_photo_url }}"/>
    {% endif %}

    <div id="overview-text">
      {% if bird.blurb %}
      <div id="blurb" class="markdown">
        {{ bird.blurb|markdown }}
      </div>
      {% endif %}

      <div id="info-spans">
        {% if bird.nacc_annotation %}
          <span>NACC Annotation: {{ bird.nacc_annotation }}</span>
        {% endif %}

        {% if bird.get_nacc_statuses %}
          {% for status in bird.get_nacc_statuses %}
          <span>NACC Status: {{ status }}</span>
          {% endfor %}
        {% endif %}

        <span>
          <a href="{{ bird.get_flickr_search_url }}">
            Search Laura's Flickr photos</a>
        </span>

        {% if bird.has_cornell_all_about_birds_url %}
        <span>
          <a href="{{ bird.get_cornell_all_about_birds_url }}">
            Cornell Lab's All About Birds</a>
        </span>
        {% endif %}

        {% if bird.has_abc_bird_of_the_week_url %}
        <span>
          <a href="{{ bird.get_abc_bird_of_the_week_url }}">
            ABC's Bird of the Week</a>
        </span>
        {% endif %}
      </div>
    </div>

  </div>

  {% if public_creations %}
  <div id="public-cards" class="page-subsection">
    {% regroup public_creations by get_class_display_name as card_list %}
    {% for card in card_list %}
      {% with category=card.grouper creations=card.list %}
      {% include "creation_card.html" %}
      {% endwith %}
    {% endfor %}
  </div>
  {% endif %}
</div>

{% if private_creations or user.is_authenticated and bird.is_minnesotan %}
<div id="private-cards" class="page-section">
  <h3 class="page-subtitle">
    Private Information
  </h3>

  {% if private_creations %}
  {% regroup private_creations by get_class_display_name as card_list %}
  {% for card in card_list %}
    {% with category=card.grouper creations=card.list %}
    {% include 'creation_card.html' %}
    {% endwith %}
  {% endfor %}
  {% endif %}

  {% if user.is_authenticated and bird.is_minnesotan %}
  <div class="card">
    <h4>
      MOU Checklist Info
    </h4>

    Status: {{ bird.minnesotaspecies.mou_status }}
    <br>
    Breeding status: {{ bird.minnesotaspecies.mou_breeding_status }}
    <br>
    Annotation: {{ bird.minnesotaspecies.mou_annotation }}
  </div>

  <div class="card">
    <h4>
      Other Minnesota Field Guide Info
    </h4>

    Include in book: {{ bird.minnesotaspecies.include_in_book }}
    <br>
    Range in MN: {{ bird.minnesotaspecies.range_in_minnesota }}
    <br>
    Miscellanous notes: {{ bird.minnesotaspecies.miscellaneous_notes }}
  </div>
  {% endif %}
</div>
{% endif %}

{% endblock %}
