{% extends "base.html" %}

{% block content %}
  <h4>Birds</h4>

  {% for order in orders %}
    <br>{{ order.level }} {{ order.name }}
    {% for c1 in order.children %}
      <br>&nbsp;&nbsp;&nbsp;&nbsp;{{ c1.level }} {{ c1.name }}
      {% for c2 in c1.children %}
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{ c2.level }} {{ c2.name }}
        {% for c3 in c2.children %}
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;
          {% ifnotequal c3.absolute_position None %}
            <i>{{ c3.name }}</i>
          {% else %}
            {{ c3.level }} {{ c3.name}}
            {% for c4 in c3.children %}
              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {% ifnotequal c4.absolute_position None %}
                <i>{{ c4.name }}</i>
              {% endifnotequal %}
            {% endfor %}
          {% endifnotequal %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% endfor %}

{% endblock %}
