{% extends 'base.html' %}
{% load markdown_deux_tags %}


{% block body_id %}bird{% endblock %}


{% block page_title %}{{ bird.common_name }}{% endblock %}


{% block content %}

<div class="page-section">
  {% if bird.main_photo_url %}
  <img id="main-photo" src="{{ bird.main_photo_url }}"/>
  {% endif %}

  <div id="taxonomy" class="card">
    <h4>Taxonomy</h4>
    {% for ancestor in bird.get_ancestors reversed %}
      <span>
        {{ ancestor.level|capfirst }}:
        {{ ancestor.name }}
        {% if ancestor.common_name %}
          ({{ ancestor.common_name }})
        {% endif %}
      </span>
    {% endfor %}
    <span>Scientific name: <i>{{ bird.scientific_name }}</i></span>
    <span>French name: {{ bird.french_name }}</span>
  </div>

  {% if bird.nacc_annotation or bird.get_nacc_statuses %}
  <div id="nacc" class="card">
    <h4>NACC Information</h4>
    {% if bird.nacc_annotation %}
      <span>Annotation: {{ bird.nacc_annotation }}</span>
    {% endif %}

    {% if bird.get_nacc_statuses %}
      {% for status in bird.get_nacc_statuses %}
        <span>Status: {{ status }}</span>
      {% endfor %}
    {% endif %}
  </div>
  {% endif %}

  <div id="links" class="card">
    <h4>External Resources</h4>

    <ul>
      {% if bird.has_cornell_all_about_birds_url %}
      <li>
        <a href="{{ bird.get_cornell_all_about_birds_url }}">
          Cornell Lab's All About Birds</a>
      </li>
      {% endif %}

      {% if bird.has_abc_bird_of_the_week_url %}
      <li>
        <a href="{{ bird.get_abc_bird_of_the_week_url }}">
          ABC's Bird of the Week</a>
      </li>
      {% endif %}

      <li>
        <a href="{{ bird.get_flickr_search_url }}">
          Search Laura's Flickr photos</a>
      </li>

      {% for link in bird.links %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  {% if bird.blurb %}
  <div id="blurb" class="card markdown-section">
    {{ bird.blurb|markdown }}
  </div>
  {% endif %}

  {% if public_creations %}
  {% regroup public_creations by get_class_display_name as card_list %}
  {% for card in card_list %}
    {% with category=card.grouper creations=card.list %}
    {% include "creation_card.html" %}
    {% endwith %}
  {% endfor %}
  {% endif %}
</div>


{% if private_creations or user.is_authenticated and bird.is_minnesotan %}
<div class="page-section">
  <h3 class="page-subtitle">
    Private Information
  </h3>

  {% if private_creations %}
  {% regroup private_creations by get_class_display_name as card_list %}
  {% for card in card_list %}
    {% with category=card.grouper creations=card.list %}
    {% include 'creation_card.html' %}
    {% endwith %}
  {% endfor %}
  {% endif %}

  {% if user.is_authenticated and bird.is_minnesotan %}
  <div class="card">
    <h4>
      MOU Checklist Info
    </h4>

    Status: {{ bird.minnesotaspecies.mou_status }}
    <br>
    Breeding status: {{ bird.minnesotaspecies.mou_breeding_status }}
    <br>
    Annotation: {{ bird.minnesotaspecies.mou_annotation }}
  </div>

  <div class="card">
    <h4>
      Other Minnesota Field Guide Info
    </h4>

    Include in book: {{ bird.minnesotaspecies.include_in_book }}
    <br>
    Range in MN: {{ bird.minnesotaspecies.range_in_minnesota }}
    <br>
    Miscellanous notes: {{ bird.minnesotaspecies.miscellaneous_notes }}
  </div>
  {% endif %}
</div>
{% endif %}

{% endblock %}
