<div class="card">
  <h4>
    {{ category }}{{ creations|pluralize }}
  </h4>

  <ul>
    {% for creation in creations %}
    <li>
      <a href="{{ creation.get_absolute_url }}">
        {% if creation.is_image %}
        <img width=500 src="{{ creation.image.url }}" /><br>
        {% endif %}
        {{ creation.title }}
      </a>

      {% if creation.get_display_date %}
      <span class="year">
        {{ creation.get_display_date|date:"Y" }}
      </span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
