{% extends 'base.html' %}


{% block body_id %}minnesota_birds{% endblock %}


{% block head_title_prefix %}Minnesota Birds |{% endblock %}


{% block page_title %}Birds for Minnesota Field Guide{% endblock %}


{% block content %}
<b>{{ birds|length }} total species</b>

<br><br>

<ul>
  {% for bird in birds %}
  <li>
    <a href="{{ bird.species.get_absolute_url }}">
      {{ bird.species.common_name }}
      (<i>{{ bird.species.scientific_name}}</i>)</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
