{% extends 'base.html' %}


{% block body_id %}photo-checklist{% endblock %}


{% block head_title_prefix %}Photo Checklist |{% endblock %}


{% block page_title %}Laura's Photo Checklist{% endblock %}


{% block content %}
<div id="photo-checklist-full" class="page-section">
  {% regroup birds by family_common_nospace as families %}

  {% for family in families %}
  <h2>{{ family.grouper }}</h2>
  <div class="photo-checklist-family">
    {% for bird in family.list %}
		<a class="photo-and-caption photo-and-caption--unloaded"
					href="{{ bird.get_absolute_url }}"
					data-src="{{ bird.main_photo_url }}">

      <div class="photo-caption">
        {{ bird.common_name }}
        (<i>{{ bird.scientific_name}}</i>)
      </div>
    </a>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
