{% extends 'base.html' %}
{% load markdown_deux_tags %}


{% block body_id %}article{% endblock %}


{% block page_title %}{{ article.title }}{% endblock %}


{% block content %}

<div class="page-section">
  {% if article.published_by or article.date_published %}
  <span class="field">
    Published
    {% if article.published_by %}by {{ article.published_by }}{% endif %}
    {% if article.date_published %}on {{ article.date_published }}{% endif %}
  </span>
  {% endif %}

  {% if article.url %}
  <span class="field">
    <a href="{{ article.url }}">URL</a>
  </span>
  {% endif %}

  {% if article.file %}
  <span class="field">
    <a href="{{ MEDIA_URL }}{{ article.file }}">
      Download article</a>
  </span>
  {% endif %}

  {% include 'tags.html' with item=article field=True %}
</div>

{% if article.text %}
<div class="page-section markdown">
  {{ article.text|markdown }}
</div>
{% endif %}

{% endblock %}
