{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block body_id %}article{% endblock %}

{% block page_title %}{{ article.title }}{% endblock %}

{% block content %}

{% if article.published_by or article.date_published %}
<b>
  Published
  {% if article.published_by %}by {{ article.published_by }}{% endif %}
  {% if article.date_published %}on {{ article.date_published }}{% endif %}
</b>
{% endif %}

{% if article.url %}
<div>
  <a href="{{ article.url }}">URL</a>
</div>
{% endif %}

{% if article.file %}
<div>
  <a href="{{ article.file }}">Download article</a>
</div>
{% endif %}

{% if article.text %}
<div class="markdown">
  {{ article.text|markdown }}
</div>
{% endif %}

{% if article.species.all|length or article.tags.all|length %}
<div>
  Tags:
  <ul>
  {% for bird in article.species.all %}
    <li class="tag">
      <a href="{% url 'bird_url' id=bird.id%}">{{ bird.common_name }}</a>
    </li>
  {% endfor %}

  {% for tag in article.tags.all %}
    <li class="tag">
      <span>{{ tag }}</span>
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}

{% endblock %}
