{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block body_id %}books{% endblock %}

{% block page_title %}Books{% endblock %}

{% block content %}

<div id="all-books">
{% for book in books %}
  <div class="book">
    {% if book.photo %}
    <img src="{{ MEDIA_URL }}{{ book.photo }}" />
    {% endif %}

    <div class="info">
      <span class="title">{{ book.title }}</span>
      <span class="date">{{ book.date_published|date:"Y" }}</span>

      {% if book.publisher %}
        <span class="publisher">Publisher: {{ book.publisher }}</span>
      {% endif %}

      {% if book.isbn_10 %}
        <span>ISBN-10: {{ book.isbn_10 }}</span>
      {% endif %}

      {% if book.isbn_13 %}
        <span>ISBN-13: {{ book.isbn_13 }}</span>
      {% endif %}

      <span class="description">{{ book.description|markdown }}</span>

      {% if book.purchase_url %}
      <a class="purchase-link" href="{{ book.purchase_url }}">
          click to purchase</a>
      {% endif %}
    </div>

  </div>
{% endfor %}
</div>

{% endblock %}
