{% extends 'base.html' %}
{% load markdown_deux_tags %}


{% block body_id %}book{% endblock %}


{% block page_title %}<i>{{ book.title }}</i>{% endblock %}


{% block content %}

<div id="book-info" class="page-subsection">
  {% if book.cover_photo %}
  <div class="column">
    <img src="{{ MEDIA_URL }}{{ book.cover_photo.image }}" />
  </div>
  {% endif %}

  <div class="column">
    {% if book.date_published or book.published_by %}
    <span>
      Published

      {% if book.date_published %}
      in {{ book.date_published|date:"Y" }}
      {% endif %}


      {% if book.published_by %}
      by {{ book.published_by }}
      {% endif %}

    </span>
    {% endif %}


    <span>{{ book.description|markdown }}</span>

    {% if book.purchase_url %}
    <span>
      <a class="purchase-link" href="{{ book.purchase_url }}">
        Click here to purchase</a>
    </span>
    {% endif %}

    {% if book.isbn_10 %}
    <span class="isbn">ISBN-10: {{ book.isbn_10 }}</span>
    {% endif %}

    {% if book.isbn_13 %}
    <span class="isbn">ISBN-13: {{ book.isbn_13 }}</span>
    {% endif %}
  </div>
</div>

<div class="page-subsection">
  {% include 'tags.html' with item=book %}
</div>

{% endblock %}
