{% extends 'base.html' %}
{% load extra_tags %}


{% block body_id %}miscellany{% endblock %}


{% block page_title %}Miscellaneous Projects{% endblock %}


{% block content %}

<div class="page-section">
  <h3 class="page-subtitle">Web Pages</h3>
  <ul>
    {% for page in webpages %}
    <li>
      <a href="{{ page.get_absolute_url }}">
        {{ page.title }}</a>

      {% if page.description %}
      <span class="description">
        {{ page.description|enhanced_markdown }}
      </span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>

<div class="page-section">
  <h3 class="page-subtitle">External Links</h3>
  <ul>
    {% for project in externalprojects %}
    <li>
      <a href="{{ project.url }}">{{ project.title }}</a>

      {% if project.description %}
      <span class="description">
        {{ project.description|enhanced_markdown }}
      </span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
