{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block body_id %}miscellany{% endblock %}

{% block page_title %}Miscellaneous Projects{% endblock %}

{% block content %}
<div class="page-section">
  <h3 class="page-subtitle">Web Pages</h3>
  <ul>
    {% for page in webpages %}
    <li>
      <a href="{% url 'webpage_url' slug=page.slug %}">
        {{ page.title }}</a>

      {% if page.description %}
        <br>&nbsp;&nbsp;{{ page.description }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>

<div class="page-section">
  <h3 class="page-subtitle">External Links</h3>
  <ul>
    {% for project in externalprojects %}
    <li>
      <a href="{{ project.url }}">{{ project.title }}</a>

      {% if project.description %}
        <br>&nbsp;&nbsp;{{ project.description }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
