{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block body_id %}radio{% endblock %}

{% block page_title %}<i>For the Birds</i> Radio Program{% endblock %}

{% block content %}

<ul id="all-programs">
{% regroup programs by original_air_date|date:"Y" as years %}
{% for year in years %}
  <li class="year">{{ year.grouper }}</li>
  <ul class="year-programs">
  {% for program in year.list %}
    <li class="program">
      <div class="program-title">
        <b>{{ program.title }}</b> ({{ program.original_air_date }})
      </div>

      <div>
        {{ program.description|markdown }}

        {% if program.supplemental_content_url %}
          <a href="{{ program.supplemental_content_url }}">
            See transcript and photos</a>
        {% endif %}
      </div>

      {% if program.species.all|length %}
      <div id="species-tags">
        <span>Relevant species:</span>
        <ul>
        {% for bird in program.species.all %}
          <li>
            <a href="{% url 'bird_url' id=bird.id%}">{{ bird }}</a>
          </li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if program.tags.all|length %}
      <div id="other-tags">
        <span>Tags:</span>
        <ul>
        {% for tag in program.tags.all %}
          <li>{{ tag }}</li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}


      {% if program.file %}
      <div>
        <audio controls preload="none">
          <source src="{{ MEDIA_URL }}{{ program.file }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <a href="{{ MEDIA_URL }}{{ program.file }}">Download .mp3</a>
      </div>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endfor %}
</ul>

{% endblock %}
