{% extends 'base.html' %}
{% load extra_tags %}
{% load staticfiles %}


{% block body_id %}radio{% endblock %}


{% block head_title_prefix %}Radio |{% endblock %}


{% block head_extras %}
<link href="{{ SITE_DOMAIN }}/radio/feed.xml"
  rel="alternate" type="application/rss+xml"
  title="Laura Erickson's For the Birds RSS feed" />
{% endblock %}


{% block page_title %}
<i>For the Birds</i> Radio Program
{% endblock %}


{% block content %}

<div id="links">
  <a class="radio-link" href="{% url 'radio_current_calendar_url' %}">
    Air Calendar</a>

  <a class="radio-link" href="{% url 'radio_podcast_feed_url' %}">
    Podcast Feed</a>

  <div class="external-links">
    <a class="radio-link patreon-badge" href="{{ PATREON_LINK }}">
      <img class="patreon-badge-image" src="{{ STATIC_URL }}images/patreon-button.png" />
    </a>
    <a class="radio-link itunes-badge" href="{{ ITUNES_SUBSCRIBE_LINK }}">
      <img class="itunes-badge-image" src="{{ STATIC_URL }}images/apple-podcasts-button.svg" />
    </a>
  </div>
</div>

<div id="year-program-container">
  <div id="year-selector-container">
    <label for="year-selector">
      Choose a year
    </label>
    <select id="year-selector">
      {% for y in all_years %}
      <option value="{{ y.year }}"
            {% if year|is_string_equal:y.year %}selected{% endif %}>
        {{ y.year }}
      </option>
      {% endfor %}
    </select>
  </div>

  <ul id="year-list">
    {% for y in all_years %}
    <li>
      <a href="?year={{ y.year }}" class="year-button
          {% if year|is_string_equal:y.year %}active{% endif %}">
          {{ y.year }}</a>
    </li>
    {% endfor %}
  </ul>

  <ul id="programs">
    {% for program in programs %}
    <li class="program" data-program-pk="{{ program.pk }}">
      <a class="program-intro" href="#">
        <span class="title">
          {{ program.title }}
          ({{ program.air_date }})
        </span>

        <span class="description">
          {{ program.description|enhanced_markdown }}
        </span>
      </a>

      <div class="program-more">
        <div class="columns">
          <div class="artwork column">
            <img src="{% static 'images/camera-icon.png' %}"/>
          </div>

          <div class="fields column">
            {% if program.file %}
            <span class="audio">
              {% include 'audio_with_download.html' with file=program.file %}
            </span>

            <span class="duration">
              Duration: {{ program.get_printable_duration }}
            </span>

            {% else %}
            <span>Audio missing</span>
            {% endif %}

            {% if program.blog_url %}
            <span class="transcript">
              <a href="{{ program.blog_url }}">
                Related blog post with transcript</a>
            </span>
            {% endif %}

            <span class="permalink">
              <a href="{{ program.get_absolute_url }}">Permalink</a>
            </span>
          </div>
        </div>

        {% include 'tags.html' with item=program %}
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
