{% extends 'base.html' %}
{% load markdown_deux_tags %}


{% block body_id %}radio-program{% endblock %}


{% block page_title %}
<i>For the Birds</i> Radio Program: {{ program.title }}
{% endblock %}


{% block content %}

<div id="program-info" class="page-subsection">
  {% with artwork=program.get_artwork %}
  {% if artwork %}
  <div class="column">
    <img id="artwork" src="data:image;base64,{{ artwork }}"/>
  </div>
  {% endif %}
  {% endwith %}

  <div class="column">
    <span>
      Original Air Date: {{ program.air_date }}
    </span>

    {% with program.get_reruns.all as reruns %}
    {% if reruns %}
    <span>
      Rerun Dates:
      {% for rerun in reruns %}
        {{ rerun.air_date }}{% if not forloop.last %}; {% endif %}
      {% endfor %}
    </span>
    {% endif %}
    {% endwith %}

    <span>
      {{ program.description|markdown }}
    </span>

    <span>
      {% include 'audio_with_download.html' with file=program.file %}
    </span>

    <span>
      Duration: {{ program.get_printable_duration }}
    </span>

    {% if program.supplemental_content_url %}
    <span>
      <a href="{{ program.supplemental_content_url }}">
        Transcript and photos</a>
    </span>
    {% endif %}
  </div>
</div>

<div class="page-subsection">
  {% include 'tags.html' with item=program %}
</div>

{% endblock %}
