{% extends 'base.html' %}
{% load markdown_deux_tags %}


{% block body_id %}radio_program{% endblock %}


{% block page_title %}
<i>For the Birds</i> Radio Program: {{ program.title }}
{% endblock %}


{% block content %}

<span class="field">
  Original Air Date: {{ program.original_air_date }}
</span>

{% with program.get_reruns.all as reruns %}
{% if reruns %}
  <span class="field">
    Rerun Dates:
    {% for rerun in reruns %}
      {{ rerun.date }}{% if not forloop.last %}; {% endif %}
    {% endfor %}
  </span>
{% endif %}
{% endwith %}

<span class="field">
  Duration: {{ program.get_duration }}
</span>

<span class="field">
  {{ program.description|markdown }}
</span>

{% if program.file %}
<div class="field">
  <audio controls preload="none">
    <source src="{{ MEDIA_URL }}{{ program.file }}" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>

<div class="field">
  <a class="download-link"  href="{{ MEDIA_URL }}{{ program.file }}">
    Download .mp3</a>
</div>
{% endif %}

{% if program.supplemental_content_url %}
<div class="field">
  <a href="{{ program.supplemental_content_url }}">
    Transcript and photos</a>
</div>
{% endif %}

{% include 'tags.html' with item=program field=True %}

{% endblock %}
