{% extends "base.html" %}

{% block body_id %}radio{% endblock %}

{% block page_title %}<i>For the Birds</i> Radio Program{% endblock %}

{% block content %}

<ul>
{% regroup programs by original_air_date|date:"Y" as years %}
{% for year in years %}
  <li>{{ year.grouper }}</li>
  <ul>
  {% for program in year.list %}
    <li>
      <b>{{ program.title }}</b> ({{ program.original_air_date }})
      <br>
      {{ program.description }}
      {% if program.supplemental_content_url %}
        <a href="{{ program.supplemental_content_url }}">See
          transcript and photos</a>
      {% endif %}

      {% if program.file %}
      <br>
      <audio controls preload="none">
        <source src="{{ MEDIA_URL }}{{ program.file }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <a href="{{ MEDIA_URL }}{{ program.file }}">Download .mp3</a>
      {% endif %}

    </li>
  {% endfor %}
  </ul>
{% endfor %}
</ul>

{% endblock %}
