{% extends 'base.html' %}
{% load markdown_deux_tags %}


{% block body_id %}radio-calendar{% endblock %}


{% block page_title %}
<i>For the Birds</i> Radio Program Calendar for {{ month }}, {{ year }}
{% endblock %}


{% block content %}

<table>
  {% for week in calendar %}
  <tr>
    {% for day, programs in week %}
    <td>
      {% if day %}
      <span class="day">
        {{ day }}.
      </span>

      {% for program in programs %}
      <span class="program">
        <a href="{{ MEDIA_URL }}{{ program.file }}">
          {{ program.title }}</a>

        {% if program.is_rerun %}
          (rerun)
        {% else %}
          (new!)
        {% endif %}
      </span>
      {% endfor %}

      {% endif %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endblock %}
