{% extends 'base.html' %}


{% block body_id %}radio-calendar{% endblock %}


{% block head_title_prefix %}
{{ month }} {{ year }} Radio Calendar |
{% endblock %}


{% block head_extras %}
<link href="http://www.lauraerickson.com/radio/feed.xml"
  rel="alternate" type="application/rss+xml"
  title="Laura Erickson's For the Birds RSS feed" />
{% endblock %}


{% block page_title %}
<a href="{{ previous_month_url }}">&larr;</a>
<i>For the Birds</i> Radio Program Calendar
for {{ month }}, {{ year }}
<a href="{{ next_month_url }}">&rarr;</a>
{% endblock %}


{% block content %}

<table>
  <tr>
  {% for weekday in weekdays %}
    <th>{{ weekday }}</th>
  {% endfor %}
  </tr>

  {% for week in calendar %}
  <tr>
    {% for day, programs in week %}
    <td>
      {% if day %}
      <span class="day">
        {{ day }}.
      </span>

      {% for program, is_rerun in programs %}
      <span class="program">
        <a href="{{ program.get_absolute_url }}">
          {{ program.title }}</a>

        <span class="program-type">
          {{ program.get_printable_duration}},

          {% if is_rerun %}
          rerun ({{ program.air_date|date:'Y' }})
          {% else %}
          new!
          {% endif %}

        </span>

        {% include 'download.html' with file=program.file %}
      </span>
      {% endfor %}

      {% endif %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endblock %}
