{% extends 'base.html' %}
{% load markdown_deux_tags %}


{% block body_id %}radio-calendar{% endblock %}


{% block page_title %}
<a href="{{ previous_month_url }}">&larr;</a>
<i>For the Birds</i> Radio Program Calendar
for {{ month }}, {{ year }}
<a href="{{ next_month_url }}">&rarr;</a>
{% endblock %}


{% block content %}

<table>
  <tr>
  {% for weekday in weekdays %}
    <th>{{ weekday }}</th>
  {% endfor %}
  </tr>

  {% for week in calendar %}
  <tr>
    {% for day, programs in week %}
    <td>
      {% if day %}
      <span class="day">
        {{ day }}.
      </span>

      {% for program, is_rerun in programs %}
      <span class="program">
        <a href="{{ program.get_absolute_url }}">
          {{ program.title }}</a>

        <span class="program-type">
          {{ program.get_duration}},

          {% if is_rerun %}
          rerun
          {% else %}
          new!
          {% endif %}

        </span>

        {% include 'download.html' with file=program.file %}
      </span>
      {% endfor %}

      {% endif %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endblock %}
