{% extends 'base.html' %}


{% block body_id %}research-category{% endblock %}


{% block page_title %}
{% include 'research_ancestry.html' with item=category %}
{{ category.name }}
{% endblock %}


{% block content %}

{% if children_categories %}
<div class="page-section">
  <h3>Nested Research Categories</h3>

  <ul>
  {% for category in children_categories %}
    <li>
      <a href="{{ category.get_absolute_url }}">
        {{ category.name }}</a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}

{% if children_items %}
<div class="page-section">
  <h3>Research Items</h3>

  <ul>
  {% for item in children_items %}
    <li>
      <a href="{{ item.get_absolute_url }}">
        {{ item.title }}</a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}

{% endblock %}
