{% extends 'base.html' %}
{% load extra_tags %}


{% block body_id %}research{% endblock %}


{% block head_title_prefix %}Research |{% endblock %}


{% block page_title %}Laura's Research{% endblock %}


{% block content %}
<ul>
{% for category in categories %}
  <li>
  <a href="{{ category.get_absolute_url }}">
    {{ category.name }}</a>

  {% if category.notes %}
  <span class="help-message">
    {{ category.notes|enhanced_markdown }}
  </span>
  {% endif %}
  </li>
{% endfor %}
</ul>
{% endblock %}
