{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block body_id %}research{% endblock %}

{% block page_title %}
{% with category=research_item.category %}
{% include 'research_ancestry.html' with final_link=True %}
{% endwith %}
{{ research_item.title }}
{% endblock %}

{% block content %}
{% if research_item.description %}
<div class="field">
  Description: {{ research_item.description }}
</div>
{% endif %}

{% if research_item.date %}
<div class="field">
  Date: {{ research_item.date }}
</div>
{% endif %}

{% if research_item.attribution %}
<div class="field">
  Attribution: {{ research_item.attribution|markdown }}
</div>
{% endif %}

{% if research_item.url %}
<div class="field">
  <a href="{{ research_item.url }}">URL</a>
</div>
{% endif %}

{% if research_item.file %}
<div class="field">
  <a href="{{ research_item.file.url }}">File</a>
</div>
{% endif %}

{% if research_item.text %}
<div class="field">
  Text: {{ research_item.text|markdown }}
</div>
{% endif %}

{% include "tags.html" with item=research_item field=True %}

{% endblock %}
