{% extends 'base.html' %}
{% load markdown_deux_tags %}


{% block body_id %}speaking{% endblock %}


{% block page_title %}
Laura's Speaking Engagements
{% endblock %}


{% block content %}

<div class="page-section">
  <div class="markdown">
    {{ laura.userprofile.speaking_overview|markdown }}
  </div>
</div>

<div class="page-section">
  <h3 class="page-subtitle">
    Topics
  </h3>

  <ul>
  {% for program in programs %}
    <li>
      <a href="{{ program.get_absolute_url }}">
        {{ program.title }} </a>
    </li>
  {% endfor %}
  </ul>
</div>

<div class="page-section">
  <h3 class="page-subtitle">
    Past Keynotes and Other Major Presentations
  </h3>

  <div class="markdown">
    {{ laura.userprofile.speaking_keynotes|markdown }}
  </div>
</div>

<div class="page-section">
  <h3 class="page-subtitle">
    Testimonials
  </h3>

  <div class="markdown">
    {{ laura.userprofile.speaking_testimonials|markdown }}
  </div>
</div>

{% endblock %}
