{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block body_id %}speaking-program{% endblock %}

{% block page_title %}
Speaking Program: <i>{{ program.title }}</i>
{% endblock %}

{% block content %}

<div class="page-section">
  {{ program.description|markdown }}
</div>

{% if presentations %}
<div class="page-section">
  {% for presentation in presentations %}
  <a href="{{ presentation.file.url }}">
    {{ presentation.title }}</a>
  {% endfor %}
</div>
{% endif %}

{% endblock %}
