{% extends 'base.html' %}
{% load extra_tags %}


{% block body_id %}speaking-program{% endblock %}


{% block head_title_prefix %}{{ program.title }} | Speaking |{% endblock %}


{% block page_title %}
Speaking Program: <i>{{ program.title }}</i>
{% endblock %}


{% block content %}

<div class="page-section">
  <div class="markdown">
    {{ program.description|enhanced_markdown }}
  </div>

  {% if program.species or program.tags %}
  {% include 'tags.html' with item=program %}
  {% endif %}
</div>


{% if files %}
<div class="page-section">
  <h3 class="page-subtitle">
    Presentation Files
  </h3>

  <ul id="files">
    {% for file in files %}
    <li>
      <a href="{{ file.file.url }}">
        {{ file.title }}
        {% if file.date %}
          ({{ file.date }})
        {% endif %}
      </a>
      {{ file.description }}
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% endblock %}
