{% extends 'base.html' %}
{% load markdown_deux_tags %}


{% block body_id %}webpage{% endblock %}


{% block page_title %}{{ webpage.title }}{% endblock %}


{% block content %}

{% if webpage.date_published or webpage.has_tags %}
<div class="page-section">
  {% if webpage.date_published %}
  <div>
    Publication Date: {{ article.date_published }}
  </div>
  {% endif %}

  {% include 'tags.html' with item=webpage field=True %}
</div>
{% endif %}

<div class="page-section markdown">
  {{ webpage.content|markdown }}
</div>

{% endblock %}
