{% extends 'base.html' %}
{% load extra_tags %}


{% block body_id %}webpage{% endblock %}


{% block head_title_prefix %}{{ webpage.title }} |{% endblock %}


{% block page_title %}{% if webpage.display_title %}{{ webpage.title }}{% endif %}{% endblock %}


{% block content %}

{% if webpage.date_published %}
<div id="webpage-info">
  <div>
    Publication Date:
    {{ webpage.date_published }}
  </div>
</div>
{% endif %}

<div id="webpage-text" class="markdown">
  {{ webpage.content|enhanced_markdown }}
</div>

<div id="webpage-tags">
  {% include 'tags.html' with item=webpage %}
</div>

{% endblock %}
