{% extends 'base.html' %}
{% load markdown_deux_tags %}


{% block body_id %}writing{% endblock %}


{% block page_title %}Laura's Writing{% endblock %}


{% block content %}

<div class="page-section">
  Keep up to date with
  <a href="http://blog.lauraerickson.com">
    Laura's Birding Blog</a>!
</div>

<div id="books-section" class="page-section">
  <h3 class="page-subtitle">
    Books
  </h3>

  <div id="books">
    {% for book in books %}
    <div class="book">
      {% if book.cover_photo %}
      <a href="{{ book.get_absolute_url}}">
        <img src="{{ MEDIA_URL }}{{ book.cover_photo.image }}" />
      </a>
      {% endif %}

      <span class="title">{{ book.title }}</span>
      <span class="date">{{ book.date_published|date:'Y' }}</span>

      {% if book.published_by %}
      <span class="published_by">
        Published by {{ book.published_by }}
      </span>
      {% endif %}

      <span class="description">{{ book.description|markdown }}</span>

      <a class="more-info" href="{{ book.get_absolute_url }}">
        More info</a>
    </div>
    {% endfor %}
  </div>
</div>

<div id="articles" class="page-section">
  <h3 class="page-subtitle">
    Articles
  </h3>

  <ul>
    {% regroup articles by published_by as publishers %}

    {% for publisher in publishers %}
    <li class="publisher">{{ publisher.grouper }}</li>

    <ul>
      {% for article in publisher.list %}
      <li>
        <a href="{{ article.get_absolute_url }}">
          {{ article.title }}</a>

        {% if article.date_published %}
        <span class="year">
          {{ article.date_published|date:'M Y' }}
        </span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </ul>
</div>

{% endblock %}
