{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block body_id %}writing{% endblock %}

{% block page_title %}Laura's Writing{% endblock %}

{% block content %}

<div class="page-section">
  Keep up to date with
  <a href="http://lauraerickson.blogspot.com">Laura's Birding Blog</a>!
</div>

<div class="page-section">
  <h3 class="page-subtitle">Books</h3>
  <div id="books">
    {% for book in books %}
    <div class="book">
      {% if book.cover_photo %}
      <img src="{{ MEDIA_URL }}{{ book.cover_photo.image }}" />
      {% endif %}

      <div class="info">
        <div class="title">{{ book.title }}</div>
        <div class="date">{{ book.date_published|date:"Y" }}</div>

        {% if book.publisher %}
          <div class="publisher">Published by {{ book.publisher }}</div>
        {% endif %}

        <div class="description">{{ book.description|markdown }}</div>

        {% if book.purchase_url %}
        <div><a class="purchase-link" href="{{ book.purchase_url }}">
            click to purchase</a></div>
        {% endif %}

        <a href="{% url 'book_url' id=book.id %}">More info</a>
      </div>

    </div>
    {% endfor %}
  </div>
</div>

<div class="page-section">
  <h3 class="page-subtitle">Articles</h3>
  <ul>
  {% for article in articles %}
    <li>
      <a href="{% url 'article_url' id=article.id %}">
        {{ article.title }}</a>{% if article.date_published %},
        {{ article.date_published }}{% endif %}

      {% if project.description %}
        <br>&nbsp;&nbsp;{{ project.description }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>

{% endblock %}
