{% extends 'base.html' %}
{% load markdown_deux_tags %}


{% block body_id %}writing{% endblock %}


{% block page_title %}Laura's Writing{% endblock %}


{% block content %}

<div class="page-section">
  Keep up to date with
  <a href="http://blog.lauraerickson.com">
    Laura's Birding Blog</a>!
</div>

<div id="books-section" class="page-section">
  <h3 class="page-subtitle">
    Books
  </h3>

  <div id="books">
    {% for book in books %}
    <div class="book">
      {% if book.cover_photo %}
      <img src="{{ MEDIA_URL }}{{ book.cover_photo.image }}" />
      {% endif %}

      <div class="info">
        <div class="title">{{ book.title }}</div>
        <div class="date">{{ book.date_published|date:"Y" }}</div>

        {% if book.published_by %}
        <div class="published_by">
          Published by {{ book.published_by }}
        </div>
        {% endif %}

        <div class="description">{{ book.description|markdown }}</div>

        {% if book.purchase_url %}
        <div><a class="purchase-link" href="{{ book.purchase_url }}">
            click to purchase</a></div>
        {% endif %}

        <a href="{{ book.get_absolute_url }}">More info</a>
      </div>

    </div>
    {% endfor %}
  </div>
</div>

<div id="articles" class="page-section">
  <h3 class="page-subtitle">
    Articles
  </h3>

  <ul>
    {% regroup articles by published_by as publishers %}

    {% for publisher in publishers %}
    <li class="publisher">{{ publisher.grouper }}</li>

    <ul>
      {% for article in publisher.list %}
      <li>
        <a href="{{ article.get_absolute_url }}">
          {{ article.title }}</a>
        {% if article.date_published %}
        <span class="year">
          {{ article.date_published|date:"Y" }}
        </span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </ul>
</div>

{% endblock %}
