#books
  #book
    width: 100%

    img
      float: left
      width: 100px
      margin-right: 40px

    .info
      float: left
      span
        float: left
        margin-right: 20px

        &.description
          clear: both
