#books
  #book
    float: left
    width: 100%
    clear: both

    .photo
      float: left
      width: 20%
      margin-right: 5%

      img
        width: 100%
        max-width: 250px

    .info
      float: right
      width: 75%

      .info-header, .purchase-link, .description
        float: left
        width: 100%

      .info-header, .description
        margin-bottom: 20px

      .info-header
        span
          font-size: 20px
          float: left
          margin-right: 20px

          &.title
            font-style: italic

  .book-separator
    float: left
    margin: 40px 10%
    height: 1px
    width: 80%
    background-color: $chickadee-light-gray
