@mixin radio-detail-font
  @include sans-font
  font-size: $base-font-size - 2
  color: $chickadee-dark-gray


.itunes-badge-large
  display: inline-block
  overflow: hidden
  background: url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat
  width: 110px
  height: 40px


.itunes-badge-small
  display: inline-block
  overflow: hidden
  background: url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-sm.svg) no-repeat
  width: 80px
  height: 15px


#radio
  #links
    width: 100%
    float: left
    margin-bottom: $whitespace
    @include sans-font
    font-size: $base-font-size + 4

    a
      display: inline-block
      margin-right: $whitespace / 2

      &#itunes-link
        float: right
        margin-right: 0px
        margin-top: 0px

        @media (max-width: 500px)
          float: left
          margin-top: 10px
          margin-right: $whitespace / 2

  #year-program-container
    float: left
    position: relative
    width: 100%

    // Hack so that full year list shows up even on years with few programs.
    // Should change this to be dynamic.
    min-height: 500px

    $year-list-width-big: 93px
    $year-list-width-small: 61px

    #year-list
      position: absolute
      left: 0
      width: $year-list-width-big
      @include sans-font
      font-size: 36px
      color: $chickadee-dark-gray

      a
        white-space: nowrap

        &.active:after
          display: inline-block
          position: relative
          bottom: 7px
          padding-left: 7px
          font-size: 18px
          @include transform(scaleX(0.7))
          content: "\27A4"

      @media (max-width: 500px)
        width: $year-list-width-small
        font-size: 24px

        a
          &.active:after
            bottom: 5px
            padding-left: 5px
            font-size: 12px

    #programs
      @include box-sizing(border-box)
      width: 100%
      float: left
      padding-left: $year-list-width-big

      @media (max-width: 500px)
        padding-left: $year-list-width-small

      .program
        float: left
        width: 100%
        overflow: hidden
        word-wrap: break-word

        &:nth-child(even)
          background: lighten($moss, 40%)
        &:nth-child(odd)
          background: lighten($moss, 43%)

        .program-intro
          @include box-sizing(border-box)
          @include dark-links
          display: block
          width: 100%
          height: 100%
          padding: 8px 12px

          .title,
          .description
            width: 100%

          .title
            margin-top: 5px

          .description
            margin-top: 10px
            font-size: $base-font-size - 2
            color: $chickadee-dark-gray

        .program-more
          @include clearfix

          display: none
          padding: $whitespace
          padding-top: $whitespace / 2

          .columns
            @include two-columns(33%, 60%, 600px)

            .artwork
              img
                width: 100%
                height: auto

            .fields
              @include cleared-spans($whitespace / 3)
              @include radio-detail-font

              .audio
                line-height: 15px

              a
                @include dark-links

          .tags
            width: 100%
            float: left
            margin-top: $whitespace


#radio-program
  #program-columns
    @include two-columns(35%, 60%, 600px)

    #artwork
      img
        max-width: 100%

    #above-mp3
      float: left
      @include cleared-spans
      margin-bottom: $whitespace

    #mp3-and-below
      float: left
      @include cleared-spans($whitespace / 3)
      @include radio-detail-font


#radio,
#radio-program
  .download-link
    img
      width: 30px
      height: 30px

  audio
    display: block
    max-width: 100%


#radio-calendar
  min-width: 800px
  .download-link
    img
      width: 20px
      height: 20px

  table, th, td
    border: 1px solid black

  table
    width: 100%
    table-layout: fixed
    border-collapse: collapse

    th, td
      padding: 5px

    th
      background: $moss
      color: $content-background
      @include sans-font
      letter-spacing: 1px

    td
      height: 50px
      font-size: $base-font-size - 1

      a, span
        display: block

      .day
        @include sans-font
        font-weight: bold

      .program-type
        @include radio-detail-font
