#sound-recording
  #recording-columns
    @include two-columns(35%, 60%, 600px)

    #artwork
      img
        max-width: 100%

    @include cleared-spans

    .download-link
      img
        width: 30px
        height: 30px


#sound-recordings
  ul
    @include bulleted-list

    li
      margin-bottom: $whitespace / 4

      span
        display: block
        clear: both

      .description
        margin-left: 1em
