#webpage
  #webpage-info
    float: left
    width: 100%
    margin-bottom: $whitespace

  #webpage-content
    float: left
    max-width: 750px
    width: 100%

  .markdown
    img, .image-caption
      max-height: 400px
      max-width: 400px
