#webpage
  #webpage-info, #webpage-content, #webpage-tags
    float: left
    margin-bottom: $whitespace
    width: 100%

  #webpage-content
    max-width: 750px

  .markdown
    img, .image-caption
      max-height: 400px
      max-width: 400px
