{% if user.is_authenticated %}
<div id="admin-bar">
  <span class="user">{{ user.get_short_name }}</span>

  <a href="{% url 'admin:index' %}">
    Admin</a>

  <a id="research-link" href="{% url 'research_url' %}">
    Research</a>

  <a class="logout" href="{% url 'logout_url' %}?next={{ request.path }}">
    Log Out</a>

  <span class="bird-search">
    Search birds
    <form action="/birds" method="get">
      <input name="query" type="text" placeholder="e.g. chickadee">
      <button type="submit" value="Submit">go</button>
    </form>
  </span>
</div>
{% endif %}
