<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head_common.html' %}

    <title>
      {% block head_title_prefix %}{% endblock %}
      Laura Erickson's For the Birds
    </title>
  </head>

  <body id="{% block body_id %}{% endblock %}">
    {% include 'admin_bar.html' %}

    {% include 'header.html' %}

    <div id="content">
      <span class="chickadee chickadee-l"></span>
      <span class="chickadee chickadee-r"></span>

      <h2 id="page-title">{% block page_title %}{% endblock%}</h2>

      {% block content %}{% endblock %}
    </div>

    {% include 'footer.html' %}
  </body>
</html>
