<div id="footer">
  <div id="content-copyright">
    All writing, images, videos, and sound recordings by
    Laura Erickson, 1997-{% now "Y" %}.
    <br>
    {% if not user.is_authenticated %}
      <a href="{% url 'login_url' %}?next={{ request.path }}">Log In</a>
    {% endif %}

    <!--
    I love to share my work to promote bird conservation and education,
    and to help people enjoy and learn about the birds and other creatures
    who live with us on this little planet.
    I produce this webpage, my radio program, and my photography
    and sound recordings entirely at my own expense.
    I could not bear for my hard work to be used to promote any product,
    company, or organization that is in any way harmful to birds.
    Please do not use any of my work in any for-profit projects without
    written permission from me.
    You can ask for permission by
    <a href="mailto:chickadee@lauraerickson.com">emailing me</a>.
    -->
  </div>

  <div id="website-copyright">
    Website by <a href="http://katherineerickson.com/">Katherine Erickson</a>,
    code on <a href="https://github.com/katur/forthebirds">Github</a>.
  </div>
</div>
