{% url 'home_url' as home_url %}
{% url 'birds_url' as birds_url %}
<div id="header">
  <a href="{{ home_url }}">
    <h1>Laura Erickson's For the Birds</h1>
  </a>

  <div id="menu">
    <a href="{{ home_url }}"
        {% ifequal request.path home_url %}
        class="active"
        {% endifequal %}>
      Home
    </a>

    <a href="{{ birds_url }}"
        {% ifequal request.path birds_url %}
        class="active"
        {% endifequal %}>
      Birds
    </a>

    <a href="{% url 'admin:index' %}">Admin</a>
  </div>
</div>
