{% url 'home_url' as home_url %}
{% url 'about_url' as about_url %}
{% url 'radio_url' as radio_url %}
{% url 'waystohelp_url' as waystohelp_url %}

<div id="header">
  <a href="{{ home_url }}">
    <h1>Laura Erickson's For the Birds</h1>
  </a>

  <div id="privileged-links">
    {% if user.is_authenticated %}
      <a href="{% url 'admin:index' %}">Admin</a>
      <a id="research-link" href="{% url 'research_categories_url' %}">
        Research</a>
    {% else %}
      <a href="{% url 'admin:index' %}">Log In</a>
    {% endif %}
  </div>

  <div id="bird-search">
    <form action={% url 'birds_url' %} method="get">
      <input type="text" name="query">
      <input type="submit" value="Search for birds">
    </form>
    <a href="{% url 'birds_taxonomical_url' %}">Or, browse taxonomically</a>
  </div>

  <div id="menu">
    <a href="{{ home_url }}"
        {% ifequal request.path home_url %}
        class="active"
        {% endifequal %}>
      Home
    </a>

    <a href="{{ about_url }}"
        {% ifequal request.path about_url %}
        class="active"
        {% endifequal %}>
      About Laura
    </a>

    <a href="http://lauraerickson.blogspot.com">Blog</a>

    <a href="{{ radio_url }}"
        {% ifequal request.path radio_url %}
        class="active"
        {% endifequal %}>
      Radio
    </a>

    <a href="{{ waystohelp_url }}"
        {% ifequal request.path waystohelp_url %}
        class="active"
        {% endifequal %}>
      101 Ways To Help Birds
    </a>
  </div>
</div>
