<div id="header">
  <h1>Laura Erickson's For the Birds</h1>

  <div id="menu">
    {% url 'home_url' as home_url %}
    {% url 'birds_url' as birds_url %}

    <a href="{{ home_url }}"
        {% ifequal request.path home_url %}
        class="active"
        {% endifequal %}>
      Home
    </a>

    <a href="{{ birds_url }}"
        {% ifequal request.path birds_url %}
        class="active"
        {% endifequal %}>
      Birds
    </a>

    <a id="login" href="admin">Admin</a>
  </div>
</div>
