{% extends 'base.html' %}


{% block body_id %}home{% endblock %}


{% block content %}
<div id="home-wrapper">
  <span id="motto">
    For the love, understanding, and protection of birds.
  </span>

  <div id="home-slider">
    <ul>
      {% for image in slideshow_images %}
      <li class="home-slide">
        <img src="{{ image }}">
      </li>
      {% endfor %}
    </ul>
  </div>

  {% if patreon_thank_yous %}
    <div class="home-thanks">
      <div class="home-thanks-intro">
        <a href="{{ PATREON_LINK }}">
          <img
            src="{{ STATIC_URL }}images/patreon-wordmark.svg"
            alt="patreon logo"
            class="home-thanks-intro-icon wordmark"
          />
          <img
            src="{{ STATIC_URL }}images/patreon-logo.svg"
            alt="patreon logo"
            class="home-thanks-intro-icon logo"
          />
        </a>
        <div class="home-thanks-intro-text">
          I would like to thank my incredibly generous supporters on Patreon;
          if you enjoy my work please consider
          <a href="{{ PATREON_LINK }}">
            contributing here</a>!
        </div>
      </div>

      <div class="home-thanks-list">
        {% for patreon_thank_you in patreon_thank_yous %}
          {{ patreon_thank_you.text }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <script>
    $(document).ready(function() {
      $("#home-slider").unslider({
        animation: 'fade',
        autoplay: true,
        arrows: false
      });
    });
  </script>

</div>
{% endblock %}
