{% extends 'base.html' %}


{% block body_id %}home{% endblock %}


{% block content %}
<div id="home-wrapper">
  <span id="motto">
    For the love, understanding, and protection of birds.
  </span>

  <div id="home-slider">
    <ul>
      {% for image in slideshow_images %}
      <li class="home-slide">
        <img src="{{ image }}">
      </li>
      {% endfor %}
    </ul>
  </div>

  <script>
    $(document).ready(function() {
      $("#home-slider").unslider({
        animation: 'fade',
        autoplay: true,
        arrows: false
      });
    });
  </script>

</div>
{% endblock %}
