#birds
  ul
    @include bulleted-list

  #bird-search
    form
      margin-bottom: $whitespace / 2
      @include pretty-form

      p
        display: inline-block

      input,
      button
        font-size: $base-font-size - 3
        @include sans-font
        letter-spacing: 1px
        padding: 8px

      input
        min-width: 180px
        background: lighten($chickadee-light-gray, 5%)

      button
        color: $chickadee-cream
        background: $chickadee-gray

        &:hover
          background: $chickadee-dark-gray


#bird
  #taxonomy-table,
  #taxonomy-text
    width: 100%
    background: $moss
    @include sans-font(light)
    color: $chickadee-cream
    text-align: center

  #taxonomy-table
    td
      padding: 2px 4px

    @media (max-width: 800px)
      font-size: $base-font-size - 1

    @media (max-width: 600px)
      display: none

  #taxonomy-text
    display: none
    @include clearfix

    @media (max-width: 600px)
      display: block

    span
      @include box-sizing(border-box)
      float: left
      width: 33%
      padding: 5px 20px

      @media (max-width: 400px)
        width: 100%
        padding: 5px 10px

  #overview
    #main-media-wrapper
      float: left
      max-width: 45%
      margin-right: 5%
      margin-bottom: $whitespace / 2

      img, audio
        float: left
        width: 100%
        display: block

      img
        height: auto

      @media (max-width: 600px)
        max-width: 100%
        margin-right: 0%
        margin-bottom: $whitespace

    #blurb
      margin-bottom: $whitespace

    #info-spans
      span
        @include sans-font
        display: block
        margin-bottom: $whitespace / 3

  #public-cards,
  #private-cards
    @include four-three-two-one-parent

    .card
      @include four-three-two-one-child
      padding: 10px
      border: 1px solid $chickadee-light-gray
      border-radius: $card-border-radius

      h4
        margin-bottom: 10px
        text-align: center

      span
        display: block
        clear: both

        &.year
          @include following-text

      ul
        list-style-type: disc
        list-style-position: inside

      img
        max-width: 100%


#birds-taxonomical
  ul
    @include bulleted-list
    line-height: 150%

    &.collapsed
      display: none

    li
      &.no-subfamily
        font-size: 14px
        font-style: italic
        color: gray

  .plus-sign
    position: relative
    top: -1px
    display: inline-block
    width: 8px
    height: 8px

    &:hover
      cursor: pointer

    &::after, &::before
      content: ' '
      position: absolute
      background: $peach-pink

      &:hover
        background: $peach-orange

    &::after
      top: 3px
      left: 0
      width: 8px
      height: 2px

    &::before
      top: 0
      left: 3px
      width: 2px
      height: 8px

    &.minus
      &::after
        background: $peach-orange

      &::before
        display: none
