#bird
  #main-photo
    float: left
    margin-right: 50px
    margin-bottom: 50px

  .card
    float: left
    padding: 10px
    margin-right: 20px
    margin-bottom: 20px
    max-width: 500px

    h3
      margin-bottom: 10px
      text-align: center

    span
      display: block
      clear: both

  #blurb
    float: left
    width: 100%
    clear: both
